<template>
    <div>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <DaftarComponent>
            <h4 slot="title1" v-bind:class="{titleStyle1 : showStyle}">Hasil Pencarian Anda</h4>
            <h4 slot="title" v-bind:class="{titleStyle : showStyle}">Daftar Orang Hilang</h4>
            <h4 slot="title2" v-bind:class="{titleStyle2 : showStyle}">Daftar Bencana Alam</h4>
        </DaftarComponent>
    </div>
</template>

<script>

import DaftarComponent from '@/components/DaftarComponent.vue'

export default {
  name: 'daftarorang',
  components: {
    DaftarComponent
  },
  data () {
    return {
      showStyle: true
    }
  }
}
</script>

<style scoped>
    .titleStyle{
        position: absolute;
        width: 240px;
        height: 28px;
        left: 39px;
        top: 350px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 28px;
        /* identical to box height */

        color: black;
    }
    .titleStyle1{
        position: absolute;
        height: 28px;
        left: 50px;
        top: 90px;
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 28px;
        color: black;
    }
    .titleStyle2{
        position: absolute;
        height: 28px;
        left: 50px;
        top: 850px;
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 28px;
        color: black;
    }
</style>
