<template>
  <div class="home">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans&display=swap" rel="stylesheet">
    <HomeContent>
      <h1 slot="title">Temukan Keluarga Anda Disini</h1>
      <p slot="subtitle">Tempat untuk mencari informasi orang hilang karena bencana alam dan bencana alam yang sedang terjadi</p>
    </HomeContent>
  </div>
</template>

<script>
// @ is an alias to /src
import HomeContent from '@/components/HomeContent.vue'

export default {
  name: 'home',
  components: {
    HomeContent
  }
}
</script>

<style scoped>
  .home{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),url("../assets/bg-oranghilang.png");
    mix-blend-mode: normal;
  }
  h1{
    position: absolute;
    width: 922px;
    height: 87px;
    left: 135px;
    top: 219px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 87px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  }
  p{
    position: absolute;
    width: 767px;
    height: 80px;
    left: 230px;
    top: 318px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: center;

    color: #FFBD21;

    text-shadow: 0px 4px 5px rgba(43, 38, 38, 0.44);
  }
</style>
