<template>
    <div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <div class="navigasi">
            <ul class="nav justify-content-end">
                <a class="navbar-brand" href="#">Orang Hilang</a>
                <li class="nav-item">
                    <router-link to='/' class="nav-link active">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link to='/daftarorang' class="nav-link active">Orang Hilang</router-link>
                </li>
                <li class="nav-item">
                    <router-link to='#' class="nav-link active">Bencana Alam</router-link>
                </li>
            </ul>
        </div>
        <hr>
        <div class="search">
            <slot name="title1"></slot>
            <div class="container-1">
                <img src="../assets/logo.png" class="search-img">
                <div class="search-data">
                    <p>NAMA LENGKAP : Irfan </p>
                    <p>LOKASI SAAT INI : Malang</p>
                    <button>Hubungi Kantor Terdekat</button>
                </div>
            </div>
        </div>
        <div class="daftar">
            <slot name="title"></slot>
            <div class="container">
                <div class="card-group">
                    <div class="card" v-for="(orhil, index) in orang" :key="index" :orhil="orhil">
                    <img class="img-card" :src="orhil.gambar" alt="">
                    <div class="card-body">
                        <p class="nama">NAMA LENGKAP</p>
                        <p class="name">{{orhil.nama}}</p>
                        <p class="bencana">BENCANA ALAM</p>
                        <P class="alam">{{orhil.bencana}}</P>
                        <P class="status">STATUS</P>
                        <p class="statuss">{{orhil.status}}</p>
                        <a href="#" class="btn btn-primary">LIHAT DETAIL</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="daftar-bencana">
            <slot name="title2"></slot>
            <div class="isi-daftar">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Bencana Alam</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(bencana, index) in bencanaalam" :key="index">
                            <td>{{index+1}}</td>
                            <td>{{bencana.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios'
import gambar1 from './../assets/logo.png'

export default {
  name: 'daftarcomponent',
  data () {
    return {
      bencanaalam: [{
        name: ''
      }],
      orang: [
        { id: 1, nama: 'Irfan ', gambar: gambar1, bencana: 'Tsunami Aceh 2004', status: 'Ditemukan Menginggal' },
        { id: 2, nama: 'Imanullah', gambar: gambar1, bencana: 'Tsunami Aceh 2004', status: 'Ditemukan Menginggal' },
        { id: 3, nama: 'Hakim', gambar: gambar1, bencana: 'Banjir Bandang', status: 'Ditemukan Menginggal' }
      ]
    }
  },
  created () {
    axios
      .get('https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2014-01-01&endtime=2014-01-02')
      .then((response) => {
        this.bencanaalam[0].name = response.data.metadata.title
      })
  }
}
</script>

<style scoped>
    .nav{
        /* background: linear-gradient(195.36deg, #FCED67 9.81%, #E77817 78.06%); */
        margin-top: 10px;
    }
    .nav-link{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;

        color: #e77817;
    }
    .navbar-brand{
        position: absolute;
        left: 4.09%;
        right: 79.04%;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        color: black;
    }
    .card{
        display: flex;
        flex-direction: row;
        width: 300px;
        height: 330px;
        margin: 40px;
    }
    .container{
        position: absolute;
        width: 1250.3px;
        height: 400px;
        top: 400px;

        background: linear-gradient(92.75deg, #E87317 -1.04%, #FFAF40 97.48%);
    }
    .container-1{
        position: absolute;
        display: flex;
        top: 140px;
        left: 4%;
    }
    .img-card{
        max-height: 100px;
        max-width: 100px;
        position: absolute;
        width: 100px;
        height: 100px;
        top: 20px;
        left: 100px;
        border-radius: 50px;
    }
    .nama{
        position: absolute;
        width: 101.69px;
        height: 14.19px;
        left: 10px;
        top: 130px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;

        color: #A6A6A6;
    }
    .name{
        position: absolute;
        width: 127.7px;
        height: 23.65px;
        left: 20px;
        top: 150px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: left;

        color: #000000;
    }
    .bencana{
        position: absolute;
        width: 101.69px;
        height: 14.19px;
        left: 140px;
        top: 130px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;

        color: #A6A6A6;
    }
    .alam{
        position: absolute;
        width: 128px;
        height: 41px;
        left: 147px;
        top: 150px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: left;

        color: #000000;
    }
    .status{
        position: absolute;
        width: 101.69px;
        height: 14.19px;
        left: -10px;
        top: 200px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;

        color: #A6A6A6;
    }
    .statuss{
        position: absolute;
        width: 212px;
        height: 24px;
        left: 0px;
        top: 220px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        color: #000000;
    }
    .btn{
        margin-top: 235px;
        border-radius: 20px;
        background: linear-gradient(256.65deg, #FFA426 -30.93%, #E87317 97.24%);
        border: none;
        width: 243px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .search-img{
        display: flex;
        max-width: 150px;
        max-height: 150px;
    }
    .search-data{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        padding: 20px;
        padding-top: 30px;
        text-align: left;

        color: #000000;
    }
    .table{
        margin-top: 67%;
    }
    button{
        background: linear-gradient(256.65deg, #FFA426 -30.93%, #E87317 97.24%);
        border: none;
        color: white;
        border-radius: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        text-align: center;
        height: 50px;
        width: 300px;
    }
</style>
