<template>
    <div>
        <slot name="title"></slot>
        <slot name="subtitle"></slot>
        <input type="text" placeholder="Masukkan nama keluarga anda disini">
        <router-link to="/daftarorang"><img class="search" src="../assets/search.svg" alt=""></router-link>
    </div>
</template>

<script>
export default {
  name: 'HomeContent'
}
</script>

<style scoped>
    input{
        position: absolute;
        width: 754.52px;
        height: 50px;
        left: 214px;
        top: 450px;
        background: #FFFFFF;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.79);
        border-radius: 10px;
    }
    .search{
        position: absolute;
        width: 33.34px;
        height: 33.34px;
        left: 904.69px;
        top: 460px;
    }
</style>
